body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 150px); /* Висота кожного елемента */
  gap: 3px;
  width: 680px; /* Ширина контейнера */
}

.item {
  background-color: #87ceeb;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.item1 { width: 200px; }
.item2 { width: 180px; }
.item3 { width: 160px; }
.item4 { width: 200px; }
.item5 { width: 180px; }
.item6 { width: 160px; }
.item7 { width: 200px; }
.item8 { width: 180px; }
.item9 { width: 160px; }
